# Visual Studio ve Build Artıkları
.vs/
bin/
obj/
*.user
*.suo
*.cache
*.log
*.vspscc
*.vssscc

# NuGet ve Paketler
packages/
*.nupkg
.nuget/

# ASP.NET Core
appsettings.Development.json

# IDE ve Editörler
.idea/
*.swp
*.swo

# Diğer
.DS_Store
*.pyc
__pycache__